body {
  margin: 0;  
}
.topbar{
    width:auto;
    background-color: #9C27B0;
    height:54px;
    box-shadow: 0 8px 6px -4px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.info-image{
    height:36px;
    margin-top: 5px;
}
.Collection-image{
    height:36px;
    margin-top: 5px;
}
.titan-one-regular {
  font-family: "Titan One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 36px;
  margin-left: 30px;
}
.all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.display{
    width: 1700px;
    height: 220px;
    border-radius: 10px;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.bottom{
    width: 1500px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);  
}
@font-face {
    font-family: "Sebino Soft Medium";
    src: url("https://db.onlinewebfonts.com/t/77f6ecce8b3e56796f721316092c7e87.eot");
    src: url("https://db.onlinewebfonts.com/t/77f6ecce8b3e56796f721316092c7e87.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/77f6ecce8b3e56796f721316092c7e87.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/77f6ecce8b3e56796f721316092c7e87.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/77f6ecce8b3e56796f721316092c7e87.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/77f6ecce8b3e56796f721316092c7e87.svg#Sebino Soft Medium")format("svg");
}
.SelectBlook{
    width: 175px;
    height: 175px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    display:none;
    cursor: default;
}
.SelectBlook.owned {
    display: block;
}
.blookselect{
    font-family: "Sebino Soft Medium", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: black;
    font-size: 40px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: top;
    gap: 20px;
    margin-left: 20px;
}
.rarity {
  font-size: 30px;
  font-family: "Sebino Soft Medium", sans-serif;
  color: green;
  -webkit-text-stroke: 0.5px black;
  max-width: 100%;
  word-break: break-word;
  line-height: 1.2;
  margin: 0;
}

.rarity.uncommon{
    color: green;
}
.rarity.rare{
    color: blue;
}
.rarity.epic{
    color: red;
}
.rarity.legendary{
    color: orange;
}
.rarity.chroma{
    color: cyan;
}
.rarity.mystic{
    color: purple;
}

/* First Row */
.firstrow{
    gap: 20px;
    display: flex;
    margin-top: 20px;
    margin-left: 35px;
}
.NPC.Suvan{
    width: 125px;
    height: 125px;
    
}
.Nerd.Sarvesh{
    width: 125px;
    height: 125px;
}
.Asian.Andrew{
    width: 125px;
    height: 125px;
}
.Micro.Lyric{
    width: 125px;
    height: 125px;
}
.Doge-shartinum{
    width: 125px;
    height: 125px;
}
.Julian{
    width: 125px;
    height: 125px;
}
.Oven{
    width: 125px;
    height: 125px;
}
.jjs.crying.Bruce{
    width: 125px;
    height: 125px;
}
.Cinaminate{
    width: 125px;
    height: 125px;
}
.Jarden{
    width: 125px;
    height: 125px;
}


/* Second Row */
.secondrow{
    gap: 20px;
    display: flex;
    margin-top: 20px;
    margin-left: 250px;
}
.Adrian{
    width: 125px;
    height: 125px;
}
.Femboy.Tucker{
    width: 125px;
    height: 125px;
}
.Mr\.Dail{
    width: 125px;
    height: 125px;
}
.Singing.Suvan{
    width: 125px;
    height: 125px;
}
.Kiwi{
    width: 125px;
    height: 125px;
}
.The.ragebaiting.one{
    width: 125px;
    height: 125px;
}
.Qintelligence.Penguin{
    width: 125px;
    height: 125px;
}

img.owned {
  cursor: pointer;
}